#skills{
    font-family: 'bobbins',sans-serif;
    /* height: auto; */
}
#skills > h1{
    color: #365486;
    text-align: center;
    margin-bottom: 2rem;
}
.skill-cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.skill-cont > div{
    background-color: #2c2c6c;
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    transition: var(--transition);
}
.skill-cont > small{
    color: rgb(255, 255, 255,0.8);
}
.skill-cont > div:hover{
    background-color: transparent;
    color:#2c2c6c;
    border: 2px solid #2c2c6c;
}
.skill-cont > div h3{
    text-align: center;
    margin-bottom: 2rem;
}
.skill-det{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    gap: 1rem;
}
.other{
    display:flex;
    flex-direction: column;
}
.skill-det > article{
    display: flex;
}
.skill-det-icon{
    margin-top: 1.5px;
    margin-right: 0.4rem;
}
@media screen and (max-width:1024px) {
    #skills{
        height: auto;
    }
    .skill-cont{
        grid-template-columns: 1fr;
        margin-bottom: 5rem;
    }
    .skill-cont > div{
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (max-width:600px) {
    .skill-cont > div{
        width: 100%;
    }
}
