#about{
    background-color: #0f1143;
    /* color: #0f1143;
    color: #4db5ff;
    color: #2c2c6c;
    color: #1f1838;
    color: rgba(255,255,255,0.6);
    color: rgba(77,181,255,0.4); */
    color: white;
    font-family: 'poppins',sans-serif;
    height: auto;
}
.ab-title{
    text-align: center;
    color: white;
}
.ab-cards{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.ab-card{
    background-color: #2c2c6c;
    color: white;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 1rem;
    /* margin: auto; */
    /* border: 1px solid transparent; */
}
.ab-card:hover{
    background-color: transparent;
    border: 2px solid #2c2c6c;
}
.ab-p{
    margin-top: 2rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
}
@media screen and (max-width:1024px) {
    .ab-p{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}
/* @media screen and (max-width:600px) {
    .container{
        width: var(--container-width-sm);
    }
    section{
        padding-top: 7rem;
    }
} */
