header{
    /* height: 100vh; */
    height: calc(100vh - 5rem);
    padding-top: 7rem;
    /* margin-top: 7rem; */
    overflow: hidden;
    /* background-color: aqua; */
}
.home{
    height: 100%;
    text-align: center;
    position: relative;
}
.hello{
    color:#365486;
    font-family: 'bebas neue',sans-serif;
    letter-spacing:0.8mm;
}
.home-text-1{
    color: #365486;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.5mm;
}
.home-text-2{
    color:#0F1035;
    font-family:  'bobbins', sans-serif;;
}
.home-btn{
    background-color: white;
    width: 7rem;
    height: 3rem;
    border-radius: 25px;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2rem;
    box-shadow: 4px 5px #0F1035;
}
.home-btn:hover{
    box-shadow:none;
}
.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 10rem;
}
/* @media screen and (max-width:1024px) {
    header{
        height: 68vh;
    }
} */
@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
}


